## jetbrains-ide-file-templates variables
##
## Project copyright
#set($PROJECT_COPYRIGHT = $PROJECTNAME)
##
## Project license
###set($PROJECT_LICENSE = "THE_UNLICENSE")
##
## Project license
#set($PROJECT_GITHUB = "https://github.com/basvandriel/jetbrains-ide-file-templates-variables")
##
## Project homepage
#set($PROJECT_HOMEPAGE = "https://google.com.com/")